.bundle
db/*.sqlite3
log/*.log
tmp/**/*
Gemfile.lock
config/database.yml
config/development.sphinx.conf
db/sphinx/
log/
public/system
config/fastdev.sphinx.conf
public/fluxx_engine
public/fluxx_crm
public/fluxx_grant
public/images/fluxx_engine/
public/javascripts/fluxx_crm/
public/javascripts/fluxx_engine/
public/stylesheets/compiled/
public/images/fluxx_grant/
public/stylesheets/fluxx_engine/
